<form method="post" class="parent-content">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="note-header">
    {{ form.title.errors }}
    {{ form.title }}
  </div>

  <table>
    {{ paragraphs_form_set.management_form }}
    {% for paragraph_form in paragraphs_form_set %}
      {% for hidden in paragraph_form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      <tr>
       <td class="description">
          {{ paragraph_form.description.errors }}
          {{ paragraph_form.description }}
        </td>
        <td class="content">
          {{ paragraph_form.content.errors }}
          {{ paragraph_form.content }}
        </td>
      </tr>
    {% endfor %}
  </table>

  <div class="green section">
    {{ form.summany.errors }}
    {{ form.summary}}
    <input type="submit" value="Guardar nota"/>
  </div>
</form>

